%h2 Dashboard


%h3 Upcoming transports


%h3 Upcoming events

%h3 Broken or missing items

- if @broken_or_missing_items.count == 0
  %p no broken or missing items \o/
- else
  %table{border: 1}
    %thead
      %tr
        %th Name
        %th Case
        %th Last comment
        %th State
        %th Actions
    %tbody
    - @broken_or_missing_items.each do |bitem|
      %tr
        %td= bitem.name
        %td= bitem.case.name
        - if bitem.item_comments.count == 0
          %td
        - else
          %td= bitem.item_comments.last.comment
        - if bitem.missing
          %td.missing{title: "missing"} missing
        - else
          %td.broken{title: "broken"} broken
        %td
          %a{href: item_path(bitem)} show
          %a{href: edit_item_path(bitem)} edit
