- content_for :title, "Cases - "

%h2 Cases

%a{href: new_case_path} create new case

- @cases.each do |type, cases|
  %h2= type
  %table{border: 1}
    %thead
      %tr
        %th.name Name
        %th.number Acronym
        %th.items Items
        %th.actions Actions
    %tbody
      - cases.each do |c|
        %tr
          %td.no_color
            %a{href: case_path(c)}= c.name
          %td.no_color
            %a{href: case_path(c)}= c.acronym
          %td.no_color
            %a{href: case_path(c)}= c.items.where(deleted: false).count
          %td
            %a{href: case_path(c)} show
            %a{href: edit_case_path(c)} edit
