%h2 Items

- @items.group_by{|i| i.case.name}.each do |key,items|
  %h3= key
  %table{border: 1}
    %thead
      %tr
        %th Name
        %th Action
    %tbody
      - items.each do |item|
        %tr
          - if item.missing
            %td.missing{bgcolor: "blue"}= item.name
          - elsif item.broken
            %td.broken{bgcolor: "red"}= item.name
          - else
            %td= item.name

          %td
            %a{href: item_path(item)} show
            %a{href: edit_item_path(item)} edit
