/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */



// property lists
 ol.properties {
   list-style: none;
   display: table;
 }

 ol.properties li {
   display: table-row;
 }

 ol.properties li label {
   display: table-cell;
   width: 50%;
   font-weight: bold;
 }

 ol.properties li span {
   display: table-cell;
   width: 50%;
 }

// forms
input[type=text], textarea {
   width: 550px;
}

label { display: block; }

// export form
.export_cases {
  input[type=checkbox] + label {
    display: inline;
    style: none;

  }
  input[type=checkbox]:checked + label {
    display: inline;
    font-style: normal;
    background: black;
    color: #28c3ab;
  }
  label:after {
    content: '\A';
    white-space: pre;
  }
}

// links
h1 {
  a,
  a:hover {
    text-decoration: none;
    color: #28c3ab;
    background-color: black;
  }
}

.hint {
  font-style: italic;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 10px;

  td, th, tr {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
  }

  .broken {
    background-color: red;
  }
  .missing {
    background-color: blue;
    color: white;
  }
}

#menu {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
  }

  li {
    float: left;
    text-transform: capitalize;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #176e61;
  }
}


.page_navigation {
  float: right;
  border: 1px solid black;
  padding-left: 0px;
  padding-right: 0px;
  list-style-type: '★';
  ul {
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: '★';
  }

  ul li {
    list-style-type: '★';
  }
}


a {
  color: #28c3ab;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: black;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #176e61;
}
