/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

body {
    font-family: Arial, Verdana, sans-serif;
}

// property lists
 ol.properties {
   list-style: none;
   display: table;
 }

 ol.properties li {
   display: table-row;
 }

 ol.properties li label {
   display: table-cell;
   width: 10%;
   font-weight: bold;
 }

 ol.properties li span {
   display: table-cell;
   width: 80%;
 }

 ol.properties ul {
   padding-inline-start: 0;
 }

// forms
input[type=text], textarea {
   width: 250px;
}
input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-family: none;
  font-size: 1em;
  border: none;
  padding: 0;
}

label { display: block; }

// export form
.export_cases {
  input[type=checkbox] + label {
    display: inline;
    style: none;

  }
  input[type=checkbox]:checked + label {
    display: inline;
    font-style: normal;
    background: black;
    color: #28c3ab;
  }
  label:after {
    content: '\A';
    white-space: pre;
  }
}

// links
h1 {
  line-height: 1em;
  margin: 0;
  padding: 10px 25px;
  background-color: black;

  a, a:hover {
    text-decoration: none;
    color: #28c3ab;
  }
}

h3 {
  clear: right;
}

.hint {
  font-style: italic;
}

.noborder {
  table {
    width: none;
    margin-top: 0x;
    td, th, tr {
      border: none;
      padding: 0px;
      text-align: left;
    }
    tr:hover{
      background-color: #CCCCCC;
    }
    input[type='checkbox'] {
        -webkit-appearance:none;
        width:20px;
        height:20px;
        background:white;
        border-radius:2px;
        border:2px solid #555;
    }
    input[type='checkbox']:checked {
        background: #28c3ab;
    }
  }
}

table {
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #999999;

  td, th, tr {
    border: 1px solid #999999;
    padding: 5px;
    text-align: center;
  }
  td.left {
    text-align: left;
  }

  tr:hover{
    background-color: #CCCCCC;
  }

  .broken {
    background-color: red;

    a,
    a:hover,
    a:focus {
      text-decoration: none;
      background-color: red;
      color: black;
    }
  }
  .missing {
    background-color: blue;
    color: white;

    a,
    a:hover,
    a:focus {
      text-decoration: none;
      background-color: blue;
      color: white;
    }
  }

  .no_color {
    a,
    a:hover,
    a:focus {
      text-decoration: none;
      color: black;
      background-color: white;
    }
  }
}

#menu {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
  }

  li {
    float: left;
    text-transform: capitalize;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .submenu {
    background-color: #444;
    a, li a {
      background-color: #444;
    }
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover, li a.active {
    background-color: #176e61;
  }

  a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: black;
  }
}

.page_navigation {

  float: right;
  border: 1px solid black;
  padding-left: 0px;
  padding-right: 0px;
  list-style-type: '★';
  ul {
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: '★';
  }

  ul li {
    list-style-type: '★';
  }
}


a:link, a:visited, input[type=submit] {
  color: white;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: black;
  text-decoration: none;
  padding: 1px 2px;
}

a:hover, a:focus,
input[type=submit]:hover, input[type=submit]:focus {
  background-color: #28c3ab;
  text-decoration: none;
  color: black;
}


// checklist filters
.filters, .floating_filters  {
  img {
    // hide spinner and delete button on page load
    visibility: hidden;
  }
  input[type=text], textarea {
     width: 150px;
  }
}
.floating_filters {
  position: fixed; 
  top: 0.5em; 
  right: 0.5em; 
  background-color: #fff;
  padding: 3px;
}

.mark.missing {
  background-color: blue;
  color: white;
}

.mark.broken {
  background-color: red;
}

.floating_form_actions {
  position: fixed; 
  bottom: 2em; 
  right: 2em; 
  background-color: #fff;
  a, input[type=submit] {
    font-size: 30px;
  }
}
.checklist_group {
    input:checked + label {
        background-color: #33dd00;
    }
    input[type=checkbox] {
        display: none;
    }
}

.checklist_item {
    width: 300px;
    max-width: 90%;
    display: inline-block;
    vertical-align: middle; 
    margin:10px;    
    padding:0;

    label {
        display:block;
        min-height: 2em;
        padding:5px;
        border:1px solid black;
        border-radius: 10px;
        text-align:center;
    }

}
