/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



// property lists
 ol.properties {
     list-style: none;
     display: table;
 }

 ol.properties li {
     display: table-row;
 }

 ol.properties li label {
     display: table-cell;
     width: 50%;
     font-weight: bold;
 }

 ol.properties li span {
     display: table-cell;
     width: 50%;
 }

// forms
input[type=text], textarea {
   width: 550px;
}

label { display: block; }

// links
#h1 {
  a {
      text-decoration: none;
      color: black;
  }
}

.hint {
  font-style: italic;
}

table {
  .broken {
    background-color: red;
  }
  .missing {
    background-color: blue;
    color: white;
  }
}
